div.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			a.navbar-brand(href="#")
				| #{title}
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
