extends layout

block left
	//Empty

block middle
	h1.text-center(id = 'title') #{title}
	p. 
		Hey there, leave a message !
	form.form-horizontal(action='/', method='POST')
		.form-group
			input.form-control(type='text', name='nick', placeholder='Nick')
		.form-group
			textarea.form-control(type='text', name='message', placeholder='Message')
		.form-group.text-center
			button.btn.btn-default(type='submit') Submit
	div
		table.table
			tr
				th.col-md-8 Message
				th.col-md-2 When
				th.col-md-2 Nick
			- var index = tweets.length
			while (index--)
				tr
					td !{tweets[index].Message}
					td #{tweets[index].When}
					td #{tweets[index].Nick}
			
	if hacked
		script(src='/javascripts/xss.js')


block right
	//Empty
