doctype html
html
	head
		block head
			block title
				title Program Name
			block meta
				meta(name='description', content='school proget')
				meta(name='keywords', content='minitwr')
			link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
			link(href='/stylesheets/style.css', rel='stylesheet')
	body
		include header
		
		div.container
			.row
				.col-md-3
					block left

				.col-md-6.middle
					block middle

				.col-md-3
					block right

					
		include footer

		//Because who cache goes faster
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
